[Desktop Entry]
Encoding=UTF-8
Name=ENSURANCE
Comment=ENSURANCE P2P Cryptocurrency
Comment[fr]=ENSURANCE, monnaie virtuelle cryptographique pair à pair
Comment[tr]=ENSURANCE, eşten eşe kriptografik sanal para birimi
Exec=ensurance-qt %u
Terminal=false
Type=Application
Icon=ensurance128
MimeType=x-scheme-handler/ensurance;
Categories=Office;Finance;
