[Unit]
Description=PIVX's distributed currency daemon
After=network.target

[Service]
User=ensurance
Group=ensurance

Type=forking
PIDFile=/var/lib/ensuranced/ensuranced.pid

ExecStart=/usr/bin/ensuranced -daemon -pid=/var/lib/ensuranced/ensuranced.pid \
          -conf=/etc/ensurance/ensurance.conf -datadir=/var/lib/ensuranced

ExecStop=-/usr/bin/ensurance-cli -conf=/etc/ensurance/ensurance.conf \
         -datadir=/var/lib/ensuranced stop

Restart=always
PrivateTmp=true
TimeoutStopSec=60s
TimeoutStartSec=2s
StartLimitInterval=120s
StartLimitBurst=5

[Install]
WantedBy=multi-user.target
